<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Adventurer Calculator</title>
</head>
<body>
<h2>Welcome</h2>
<h3 th:text="${'the power is ' + power}">to the guild</h3>
<h3 th:if="${power > 0}" th:if="${power <= 20000}" th:text="C class"></h3>
<h3 th:if="${power > 20000}" th:if="${power <= 100000}" th:text="B class"></h3>
<h3 th:if="${power > 100000}" th:text="A class"></h3>

</body>
</html>